@charset "UTF-8";
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
font-family:'DNFBitBitv2';
font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}
@font-face {
font-family: 'UhBeeRami';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRami.woff') format('woff');
font-weight: normal;
font-style: normal;
}

body {
	
	margin-top: 10px;
	margin-left: 50px;
	background-color: #FCDEAB;
	display: flex;
 	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1 {
	text-align: center;
	
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
    color: #f38400;
    text-decoration: underline;
    
}
#list {
	font-weight: bold;
	font-family: 'Orbit-Regular';
}
.product-name, .price{
	font-weight: bold;
	font-family: 'Orbit-Regular';
	padding-left: 2vw;
	padding-right: 2vw;
}
.product-name {
	margin-top: 20px;
	color:  white;  
	text-shadow: 1px 1px 2px#f38400;
	font-size: 1.3vw;
	letter-spacing:-1px;
}
.price {
	color:#f38400; 
	text-shadow: 1px 1px 2px white;
	font-size: 1.3vw;
	text-align: right;
	margin-top: -5.1vw;
}
img {
	width: 23vw;
	height: auto;
	margin-bottom: -20px;
}
hr {
  border: none; /* 기본 테두리 제거 */
  border-top: 3px dotted #ffffff; 
  width: 81%; /* 가로 너비 */
  margin: 5px 0; /* 위아래 여백 추가 (선택적) */
  margin-bottom: 30px;
}
#header {
	padding-top: 0px;
	width: 110%;
	padding-left: 17%;
	margin-bottom: 20px;
}
#heading{
	font-family: 'UhBeeRami';
	color: white;
    font-size: 80px;
    text-shadow: 2px 2px #faa821;
}
.slide-container, .slide-container2 {/*슬라이드 움직임 설정?*/
	display: flex;
	margin-bottom: 5vw;
}

.total-container {
	padding-right: 4vw;
	
}
.slide1, .slide2, .slide3, 
.line2Slide1, .line2Slide2, .line2Slide3
 {
	 
	margin : 0 5% ;
	margin-left: 2vw;
	margin-right: 2vw;
}
